<div class="row mobile-title">   
<h3>Prestine<span>Movers</span></h3>
<br>
<%= render "/create_reservation/step_progress_bar" %>
<br>
<div class="<%= @form_size_class %>">   
<div class="material-panel material-panel__default">
  <div class="material-panel__heading">
    <h2 class="material-panel__title"> Get Quote</h2>
    <h6><%= @panel_title %></h6>
    <% if !@reservation.reservation_number.nil? &&  @reservation.reservation_number > 0 %>
    <p class="pull-right" style="line-height: 1px; font-size: 10px;"> #<%= @reservation.reservation_number %></p>
    <% end %>
  </div>
  <div class="panel-body"> 
  
    <% if @reservation.errors.any? %>
    <div id="">
      <div class="alert alert-danger" role="alert">
       <p><%= @reservation.errors.messages.first[1][0] %></p>
      </div>
    </div>
  <% end %>