<%= render "/create_reservation/wizard_top" %> 
<div class="col-xs-10 col-xs-offset-1">    
    <%= form_for @reservation, :url => create_reservation_path, method: :put, :html => {:class => "form-horizontal center"} do |f| %>
          
          <div class="form-group">
            <%= f.label :first_name, "Name", class: "control-label" %>
            <div class="">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
           
           <div class="form-group">
            <%= f.label :phone_num, "Phone number", class: "control-label" %>
            <div class="">
              <%= f.text_field :phone_num, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email", class: "control-label" %>
            <div class="">
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>
          
          <%=  f.hidden_field :id   %> 
          <%=  f.submit "Continue", class: "btn btn-default pull-right" %>  
     <% end %>
  </div>
<%= render "/create_reservation/wizard_bottom" %> 