<%= render "/create_reservation/wizard_top" %> 
<div class="col-xs-10 col-xs-offset-1">    
    <%= form_for @reservation, :url => create_reservation_path, method: :put, :html => {:class => "form-horizontal center"} do |f| %>
          <div class="form-group">
            <%= f.label :description, "Description/Coments", class: "control-label" %>
            <div class="">
              <%= f.text_area :description, class: "form-control text-area", rows: "10", cols: "30", placeholder: "* Enter all additional information that will help us understand more about your relocation. Do you have any havy items, pianos, drum-kits, something fragile that has to be properly packed etc..."%>
            </div>
          </div>
          <%=  f.hidden_field :id   %> 
          <%=  f.submit "Continue", class: "btn btn-default pull-right" %>  
     <% end %>
  </div>
<%= render "/create_reservation/wizard_bottom" %> 