<p id="notice"><%= notice %></p>

<h1>Listing Pictures</h1>

<div class="row">
 <div class="col-xs-10 col-xs-offset-1">
  <% @pictures.each do |picture| %>
   <div class="col-sm-6 col-md-6 col-lg-4">  
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= picture.name %> </h3>
      </div>
    <div class="panel-body"> 
   
    
      
        <%= image_tag picture.picture.url , class: "center-block img-responsive", style: "heigth:200px !important;"%>
        <br>
        <hr>
       <p> <%= picture.description %>
       </p>
    </div>
       <div class="panel-footer">
         <div class="btn-group btn-group-justified">
          <%= link_to 'Show', picture, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_picture_path(picture), class: "btn btn-info" %>
                <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
                </div>
      </div>
    </div>
    </div>
    <% end %>
   </div>
  </div>


<%= link_to 'New Picture', new_picture_path %>
